################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JenkinsConsole/ConsoleApp/bin/Debug
/JenkinsConsole/UnitTestProject/bin/Debug
